@import 'react-image-crop/dist/ReactCrop.css';
@import "tailwindcss";

:root {
  --bg-primary: #18191A;
  --bg-secondary: #242526;
  --bg-tertiary: #3A3B3C;
  --text-primary: #E4E6EB;
  --text-secondary: #B0B3B8;
  --accent: #2D88FF;
  --border-color: #393a3b;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}